{% block subject %}
    {% autoescape false %}
        {{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
    {% endautoescape %}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        {{ 'resetting.email.message'|trans({'%username%': user.username, '%token%': token}) }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    <!DOCTYPE html>
    <html>
        <head></head>
        <body>
            {{ 'resetting.email.message'|trans({'%username%': user.username, '%token%': token}) }}
        </body>
    </html>
{% endblock %}
